<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>人力资源管理系统</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <!--elementUI-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--<script src="/js/jump.js"></script>-->
</head>
<body>
<div id="app">
    <!--<div v-if="isLogout"  class="bg-color" >-->
        <!--<el-row>-->
            <!--<el-col :span="10" offset="8">-->
                <!--<el-card id="login">-->
                    <!--<div slot="header" class="clearfix">-->
                        <!--<span>人力资源管理系统</span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="login-content">&ndash;&gt;-->
                        <!--&lt;!&ndash;<el-row class="text-item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<el-col :span="3" offset="2">用户名</el-col>&ndash;&gt;-->
                            <!--&lt;!&ndash;<el-col :span="17" offset="1"><el-input style="float: right" placeholder="请输入用户名" v-model="inputName" clearable></el-input></el-col>&ndash;&gt;-->
                        <!--&lt;!&ndash;</el-row>&ndash;&gt;-->
                        <!--&lt;!&ndash;<el-row class="text-item" glutter="30">&ndash;&gt;-->
                            <!--&lt;!&ndash;<el-col :span="3" offset="2">密码</el-col>&ndash;&gt;-->
                            <!--&lt;!&ndash;<el-col :span="17" offset="1"><el-input placeholder="请输入密码" v-model="inputPswd" show-password></el-input></el-col>&ndash;&gt;-->
                        <!--&lt;!&ndash;</el-row>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<hr/>-->
                    <!--<el-row>-->
                        <!--<el-col :span="4" offset="9"><el-button @click="login"  type="primary" plain>登录</el-button></el-col>-->
                    <!--</el-row>-->
                <!--</el-card>-->
            <!--</el-col>-->
        <!--</el-row>-->
    <!--</div>-->

    <el-container style="height: 100%">
        <el-aside class="menu" width="250px"  style="overflow-x: hidden;position:absolute;">
            <div style="overflow-y: scroll;position: absolute;height:100%;">
                <el-menu
                        default-active="2"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose"
                        @select="handleSelect"
                        text-color="#fff"
                        active-text-color="#ffd04b"
                        style="width:250px;">
                    <el-row id="navTitle" align="middle" type="flex">
                        <i-col :span="2" :offset="2">
                            <img onerror="javascript:this.src='http://online.bit.edu.cn:80/eip/core/miniui/themes/2018-skin/2018-img/avatar.jpg';" src="http://online.bit.edu.cn:80/eip/user/photo.htm" style="width:30px; margin-top: -4.5px; display: block;">
                        </i-col>
                        <i-col :offset="3">
                            <span>Welcome!</span></i-col>
                    </el-row>
                    <el-row type="flex" justify="center" style="margin-bottom: 20px">
                        <el-col :span="22">
                            <div style="border-bottom: #6d6f71 solid;"></div>
                        </el-col>
                    </el-row>

                    <template v-for = "(item, index) in menu">
                        <el-submenu v-if = "item.child !== null" :index="index">
                            <template slot="title">
                                <i :class="item.icon"></i>
                                <span slot="title">{{item.name}}</span>
                            </template>
                            <el-menu-item v-for="(i, index2) in item.child" :index="index+'-'+index2">{{i.name}}</el-menu-item>
                        </el-submenu>
                        <el-menu-item v-else :index="index">
                            <i :class="item.icon"></i>
                            <span slot="title">{{item.name}}</span>
                        </el-menu-item>
                    </template>
                </el-menu>
            </div>

        </el-aside>
        <el-container class="wrapper" style="min-height: calc(100% - 60px); position: absolute;left:250px;width: calc(100% - 250px);height:100%;">
            <el-header class="header">
                <el-row class="headerRow" type="flex" align="middle">
                    <e-col>人力资源管理中心</e-col>
                </el-row>
            </el-header>

            <el-container style="min-height: calc(100% - 60px);">
                <el-main style="height:100%; padding:0; overflow: hidden;">

                    <el-row v-if="loading" style="height:100%;" type="flex" align="middle" justify="center">
                        <el-col :span="3">
                            <img src="/image/ajax-loader.gif">
                        </el-col>
                    </el-row>

                    <iframe id="menuFrame" name="menuFrame"
                            v-bind:src="src"
                            style="height:calc(100%); width:calc(100%)" frameborder="no"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<script>
    var vue = new Vue({
        el:'#app',
        data:{
            menu:[
                {
                    icon:'el-icon-location',
                    name:'导航一',
                    child:[
                        {name:'省审核备案', url:'provinceRecord.html'},
                        {name:'监测点填报备案', url:'pointRecord.html'},
                        {name:'用户查询', url:'provinceQueryUser.html'},
                        {name:'权限授予', url:'adminRightManage.html'}
                    ]
                },
                {
                    icon:'el-icon-menu',
                    name:'导航二',
                    url:''
                },
                {
                    icon:'el-icon-location',
                    name:'导航三',
                    child:[
                        {name:'省审核备案', url:'provinceRecord.html'},
                        {name:'监测点填报备案', url:'pointRecord.html'}
                    ]
                }
            ],
            isLogout:true,
            visible:'',
            inputName:'',
            inputPswd:'',
            detailVisible:false,
            marketData: [{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-01',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-02',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-03',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-04',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-05',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-06',
                state: '待审核'
            }],
            src:'',
            loading:false
        },
        methods:{
            handleSelect(index){
                console.log(index)
                this.loading=true;
                if(index.toString().indexOf('-')===-1){
                    this.src='/html/'+this.menu[index].url;
                    this.setupWatcher();
                }else{
                    var i = index.indexOf('-');
                    this.src='/html/'+this.menu[index.substring(0,i)].child[index.substring(i+1)].url;
                    console.log(this.src);
                    this.setupWatcher();
                }
            },
            setupWatcher(){
                document.getElementById("menuFrame").addEventListener("load",function (ev) {
                    vue.loading=false;
                })
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClick() {
                vue.detailVisible = true;
            },
            login() {
                console.log(vue.inputName, vue.inputPswd);
                vue.isLogout = false;
            }
        }
    })
</script>
</html>