<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>人力资源管理系统</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <!--elementUI-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--<script src="/js/jump.js"></script>-->
</head>
<body>
<div id="app">
    <el-container style="height: 100%">
        <el-aside class="menu" width="250px"  style="overflow-x: hidden;position:absolute;">
            <div style="overflow-y: scroll;position: absolute;height:100%;">
                <el-menu
                        default-active="2"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose"
                        @select="handleSelect"
                        text-color="#fff"
                        active-text-color="#ffd04b"
                        style="width:250px;">
                    <el-row id="navTitle" align="middle" type="flex">
                        <i-col :span="2" :offset="2">
                            <img onclick="vue.src='/html/selfCenter.html'" onerror="javascript:this.src='http://online.bit.edu.cn:80/eip/core/miniui/themes/2018-skin/2018-img/avatar.jpg';" src="http://online.bit.edu.cn:80/eip/user/photo.htm" style="cursor: pointer;width:30px; margin-top: -4.5px; display: block;">
                        </i-col>
                        <i-col :offset="3">
                            <span style="font-size: x-large">Welcome!</span></i-col>
                    </el-row>
                    <el-row type="flex" justify="center" style="margin-bottom: 20px">
                        <el-col :span="22">
                            <div style="border-bottom: #6d6f71 solid;"></div>
                        </el-col>
                    </el-row>

                    <template v-for = "(item, index) in menuData" >
                        <el-submenu v-if = "item.children !== null" :index="index">
                            <template slot="title">
                                <!--<i :class="item.icon"></i>-->
                                <span slot="title">{{item.menuName}}</span>
                            </template>
                            <el-menu-item v-for="(i, index2) in item.children" :index="index+'-'+index2">{{i.menuName}}</el-menu-item>
                        </el-submenu>
                        <el-menu-item v-else :index="index">
                            <!--<i :class="item.icon"></i>-->
                            <span slot="title">{{item.menuName}}</span>
                        </el-menu-item>
                    </template>
                </el-menu>
            </div>

        </el-aside>
        <el-container class="wrapper" style="min-height: calc(100% - 60px); position: absolute;left:250px;width: calc(100% - 250px);height:100%;">
            <el-header class="header" style="padding-right: 50px;">
                <div style="float:left;color: white;font-size: x-large;font-weight: bold">人力资源管理中心</div>
                <div id="logoutBtn" @click = "logout">登出</div>
            </el-header>

            <el-container style="min-height: calc(100% - 60px);">
                <el-main style="height:100%; padding:0; overflow: hidden;">

                    <el-row v-if="loading" style="height:100%;" type="flex" align="middle" justify="center">
                        <el-col :span="3">
                            <img src="/image/ajax-loader.gif">
                        </el-col>
                    </el-row>

                    <iframe id="menuFrame" name="menuFrame"
                            v-bind:src="src"
                            style="height:calc(100%); width:calc(100%)" frameborder="no"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<script>
    var vue = new Vue({
        el:'#app',
        data:{
            menuData:[],
            isLogout:true,
            visible:'',
            inputName:'',
            inputPswd:'',
            detailVisible:false,
            marketData: [{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-01',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-02',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-03',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-04',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-05',
                state: '待审核'
            },{
                name: '北京市海淀区中关村人力资源市场',
                date: '2016-05-06',
                state: '待审核'
            }],
            src:'/html/selfCenter.html',
            loading:false
        },
        methods:{
            handleSelect(index){
                console.log('handleSelect:'+this.menuData[index]);

                if(index.toString().indexOf('-')===-1){
                    if(this.src==='/html/'+this.menuData[index].menuPath){
                        return;
                    }
                    this.loading=true;
                    this.src='/html/'+this.menuData[index].menuPath;
                    this.setupWatcher();
                }else{
                    var i = index.indexOf('-');
                    if(this.src==='/html/'+this.menuData[index.substring(0,i)].children[index.substring(i+1)].menuPath)
                        return;
                    this.loading=true;
                    this.src='/html/'+this.menuData[index.substring(0,i)].children[index.substring(i+1)].menuPath;
                    this.setupWatcher();
                }
            },
            setupWatcher(){
                document.getElementById("menuFrame").addEventListener("load",function (ev) {
                    vue.loading=false;
                })
            },
            handleOpen(key, keyPath) {
                console.log('handleOpen:'+ key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClick() {
                vue.detailVisible = true;
            },
            login() {
                console.log(vue.inputName, vue.inputPswd);
                vue.isLogout = false;
            },
            getMenu(){
                $.ajax({
                    url:'/user/menu',
                    type:'post',
                    success(res){
                        vue.menuData=res.data;
                        console.log(res.data);
                    }
                })
            },
            logout(){
                window.location.href='/logout'
            }
        },
        mounted:function () {
            this.getMenu();
        }
    })
</script>
</html>