<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>historyTables</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>
<div id="historyTables" style="height:100%;">
    <el-main class="content" style="overflow: visible;background-color: #FFFFFF;margin:20px;border-radius: 10px;">
        <div class="contentDetail">
            <el-row>
                <el-col :span="9" id="historyLeft">
                    <el-row>
                        <el-col :span="8">请选择调查期:</el-col>
                        <el-col :span="10">
                            <el-select v-model="periodId" placeholder="请选择" size="small">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value"
                                >
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="4" :offset="1">
                            <el-button  type="primary" size="small" @click="changeURL">查看</el-button>
                        </el-col>
                    </el-row>
                    <el-tree :data="cityOptions" :props="defaultProps" node-key="id" @node-click="handleNodeClick" accordion></el-tree>
                </el-col>
                <el-col :span="15" id="historyRight" style="height:100%;border-left: 1px solid #c1d0db;padding-left: 20px;">
                    <iframe v-bind:src="src"
                            style="height:1000px; width:calc(100%);background-color: #FFFFFF" frameborder="no"></iframe>
                </el-col>
            </el-row>
        </div>
    </el-main>
    <el-footer class="footer">2019 &copy; 第二组织</el-footer>
</div>
</body>
<script>
    var vue = new Vue({
        el:'#historyTables',
        data:{
            src:'/html/dataFillIframe.html?tableId=-1',
            options: [],
            periodId:'',
            cityOptions:[],
            defaultProps: {
                children:'child',
                label:'fullname'
            },
            userId:''
        },
        methods:{
            handleNodeClick(data){
                if(data.userType === 3) vue.userId = data.id;
            },
            getChildUser(){
                $.ajax({
                    url:'/user/list',
                    type: 'post',
                    success(res){
                        vue.cityOptions=res.data;
                        console.log(res);
                    }
                })
            },
            changeURL(){
                this.src='';
                if(vue.userId !== '' && vue.periodId !==''){
                    // vue.src = '/html/dataFillIframe.html?tableId='+'53';
                    $.ajax({
                        url: '/common/data/selectUploadInfoById',
                        type: 'post',
                        data: {
                            userId:vue.userId,
                            uploadPeriodId:vue.periodId
                        },
                        success(res) {
                            console.log(res);
                            if(res.code===0) {
                                vue.src = '/html/dataFillIframe.html?tableId='+res.data[0].tableId;
                            }
                            else {
                                alert(res.message);
                            }
                        },
                        error(res) {
                            console.log(res);
                            alert('初始化失败，请稍后刷新重试');
                        }
                    })
                }


            }
        },
        mounted(){
            $.ajax({
                url:'/common/data/selectUploadPeriodByTime',
                type:'post',
                data:{
                    startDateString:'1970-01-01',
                    endDateString:'9999-12-31'
                },
                success(res){
                    if(res.code === 0){
                        // console.log(res);
                        vue.options=[];
                        for(var i = 0; i < res.data.length;i ++){
                            vue.options.push({value:res.data[i].uploadPeriodId,
                                label:res.data[i].startDate.toString() + ' ~ ' + res.data[i].endDate.toString()});
                        }
                    }
                    else{
                        vue.$message.error('错了哦');
                    }
                },
                error(res){
                    vue.$message.error('错了哦');
                }
            });
            this.getChildUser()

            // $.ajax({
            //     url:'/user/userType',
            //     type:'post',
            //     success(r){
            //         vue.userType = r;
            //         vue.cityOptions=[];
            //         function f(hh) {
            //             var ar=[];
            //             if(hh.children!=null) {
            //                 for (var i in hh.children) {
            //                     ar.push(f(hh.children[i]));
            //                 }
            //             }
            //             if(ar.length==0){
            //                 return {label:hh.label, value:hh.value, depth:hh.depth}
            //             }
            //             return {label:hh.label,value:hh.value,depth:hh.depth,children:ar};
            //         }
            //         if(r === 1){
            //             //省
            //             $.ajax({
            //                 url:'/province/record/conditionalQuery',
            //                 type:'post',
            //                 data:{
            //                     condition:''
            //                 },
            //                 success(res){
            //                     // console.log(res);
            //                     if(res.code === 0){
            //                         var root = null;
            //                         var i;
            //                         for(i = 0; i < res.data.length; i ++) {
            //                             // console.log(res)
            //                             var tmp = res.data[i].regionName.split('-');
            //                             if (root == null) {
            //                                 root = {label: tmp[0], value:tmp[0], depth:0}
            //                             }
            //                             var r = root;
            //                             var j = 1;
            //
            //                             for (; j < tmp.length; j++) {
            //                                 if (r.children == null) {
            //                                     r.children={}
            //                                 }
            //                                 if(r.children[tmp[j]]==null) {
            //                                     r.children[tmp[j]] = {label: tmp[j], value:tmp[j], depth:j}
            //                                 }
            //                                 r = r.children[tmp[j]];
            //                             }
            //                             if (r.children == null) {
            //                                 r.children = {}
            //                             }
            //                             r.children[res.data[i].regionEmpName] ={label: res.data[i].regionEmpName, value: res.data[i].regionEmpName, depth:j};
            //                         }
            //                         // console.log(f(root))
            //                         // console.log(root)
            //                         // console.log(res)
            //                         root = f(root);
            //                         vue.cityOptions=root.children;
            //                         vue.currentName = root.label;
            //                         console.log(vue.currentName)
            //                             // root.children[tmp[1]]={};
            //
            //                             // for(j = 0; j < vue.cityOptions.length; j ++){
            //                             //     if(vue.cityOptions[j].label === tmp[1]){
            //                             //         if(vue.cityOptions[j].children){
            //                             //             for(k = 0; k < vue.cityOptions[j].children.length; k ++){
            //                             //                 if(vue.cityOptions[j].children[k].label === tmp[1]){
            //                             //                     vue.cityOptions[j].children[k].push(res.data[i].regionEmpName);
            //                             //                     break;
            //                             //                 }
            //                             //             }
            //                             //             if(k === vue.cityOptions[j].children.length){
            //                             //                 // vue.cityOptions[j].children.push({label:tmp[2], value:tmp[2],children:[res.data[i].regionEmpName]});
            //                             //             }
            //                             //         }
            //                             //         else{
            //                             //             vue.cityOptions[j].children.push({label:tmp[2], value:tmp[2],children:[res.data[i].regionEmpName]});
            //                             //         }
            //                             //         break;
            //                             //     }
            //                             // }
            //                             // if(j === vue.cityOptions.length)
            //                             // {
            //                             //     vue.cityOptions.push({
            //                             //         label:tmp[1],
            //                             //         value:tmp[1],
            //                             //         children:[{label:tmp[2], value:tmp[2],depth:2,children:[{label:res.data[i].regionEmpName, value:res.data[i].regionEmpName}]}]
            //                             //
            //                             //     })
            //                             // }
            //                             // console.log(tmp)
            //
            //                     }
            //                     else{
            //                         vue.$message.error('错了哦');
            //                     }
            //                 },
            //                 error(res){
            //                     vue.$message.error('错了哦');
            //                 }
            //             })
            //         }
            //         else if(r === 2){
            //             //市
            //             $.ajax({
            //                 url:'/city/record/conditionalQuery',
            //                 type:'post',
            //                 data:{
            //                     condition:''
            //                 },
            //                 success(res){
            //                     console.log(res)
            //                     if(res.code === 0){
            //                         var root = null;
            //                         var i;
            //                         for(i = 0; i < res.data.length; i ++) {
            //                             // console.log(res)
            //                             var tmp = res.data[i].regionName.split('-');
            //                             if (root == null) {
            //                                 root = {label: tmp[1], value:tmp[1], depth:0}
            //                             }
            //                             var r = root;
            //                             var j = 2;
            //
            //                             if (r.children == null) {
            //                                 r.children={}
            //                             }
            //                             if(r.children[tmp[j]]==null) {
            //                                 r.children[tmp[j]] = {label: tmp[j], value:tmp[j], depth:1}
            //                             }
            //                             r = r.children[tmp[j]];
            //
            //                             if (r.children == null) {
            //                                 r.children = {}
            //                             }
            //                             r.children[res.data[i].regionEmpName] ={label: res.data[i].regionEmpName, value: res.data[i].regionEmpName, depth:2};
            //                         }
            //                         // console.log(f(root))
            //                         // console.log(root)
            //                         // console.log(res)
            //                         vue.cityOptions=f(root).children;
            //                         // console.log(vue.cityOptions)
            //                         // var i,j;
            //                         // for(i = 0; i < res.data.length; i ++){
            //                         //     var tmp = res.data[i].regionName.split('-');
            //                         //     for(j = 0; j < vue.cityOptions.length; j ++){
            //                         //         if(vue.cityOptions[j].label === tmp[2]){
            //                         //             vue.cityOptions[j].children.push(res.data[i].regionEmpName);
            //                         //             break;
            //                         //         }
            //                         //     }
            //                         //     if(j === vue.cityOptions.length){
            //                         //         vue.cityOptions.push({
            //                         //         label:tmp[2],
            //                         //         value:tmp[2],
            //                         //         children:[{label:res.data[i].regionEmpName, value:res.data[i].regionEmpName}]
            //                         //         })
            //                         //     }
            //                         // }
            //                     }
            //                     else{
            //                         vue.$message.error('错了哦');
            //                     }
            //                 },
            //                 error(res){
            //                     vue.$message.error('错了哦');
            //                 }
            //             })
            //         }
            //         else if(r === 3){
            //             //监测点
            //             $.ajax({
            //                 url:'/market/record/select',
            //                 type:'post',
            //                 success(res){
            //                     if(res.code === 0){
            //                         vue.location = res.data.regionName;
            //                         vue.cityOptions = [];
            //                     }
            //                     else{
            //                         vue.$message.error('错了哦');
            //                     }
            //                 },
            //                 error(res){
            //                     vue.$message.error('错了哦');
            //                 }
            //             })
            //         }
            //     },
            //     error(r){
            //         vue.$message.error('错了哦');
            //     }
            // })

        }
    })
</script>
</html>