<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkPointRecord</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <!--elementUI-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>
    <div id="pointRecordApp" style="height: 100%;">
        <el-main class="content"style="overflow: visible">
            <div class="contentDetail">
                <el-row type="flex" class="littleTitle">
                    <el-col :span="24">填报人力资源市场信息</el-col>
                </el-row>
                <el-row v-if="ifSubmitMarketDetail" class="littleWarning">您当前的信息正在被审核</el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form ref="marketDetailForm" :model="marketDetailForm" label-width="150px">
                            <el-form-item label="人力资源市场名称">
                                <el-input v-model="marketDetailForm.name" :disabled="ifSubmitMarketDetail"></el-input>
                            </el-form-item>
                            <el-form-item label="所在地区" >
                                <el-input v-model="marketDetailForm.location" :disabled="ifSubmitMarketDetail"></el-input>
                            </el-form-item>
                            <el-form-item label="联系人姓名">
                                <el-input v-model="marketDetailForm.people" :disabled="ifSubmitMarketDetail"></el-input>
                            </el-form-item>
                            <el-form-item label="联系人手机号">
                                <el-input v-model="marketDetailForm.mobile" :disabled="ifSubmitMarketDetail"></el-input>
                            </el-form-item>
                            <el-form-item label="联系电话">
                                <el-input v-model="marketDetailForm.phone" :disabled="ifSubmitMarketDetail"></el-input>
                            </el-form-item>
                            <el-form-item label="传真">
                                <el-input v-model="marketDetailForm.fax" :disabled="ifSubmitMarketDetail"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmitMarketDetail" v-if="!ifSubmitMarketDetail">申报</el-button>
                                <el-button @click="resetMarketDetailForm('marketDetailForm')" v-if="!ifSubmitMarketDetail">重置</el-button>
                                <el-button type="primary" v-if="ifSubmitMarketDetail" disabled>申报</el-button>
                                <el-button v-if="ifSubmitMarketDetail" disabled>重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
            </div>
        </el-main>
        <el-footer class="footer">2019 &copy; 第二组织</el-footer>
    </div>
</body>

<script>
    var vue3 = new Vue({
        el:'#pointRecordApp',
        data:{
            marketDetailForm:{
                name:'',
                location:'',
                people:'',
                mobile:'',
                phone:'',
                fax:''
            },
            ifSubmitMarketDetail:-1,
            marketStateFlag:-1
        },
        methods:{
            onSubmitMarketDetail: function() {
                this.newMarketDetail();
            },
            resetMarketDetailForm:function(formName) {
                this.$refs[formName].resetFields();
            },
            newMarketDetail(){
                $.ajax({
                    url:'/market/record/insert',
                    type:'post',
                    data:{
                        regionEmpName:this.marketDetailForm.name,
                        regionName:this.marketDetailForm.location,
                        regionEmpContact:this.marketDetailForm.people,
                        regionEmpContactMobi:this.marketDetailForm.mobile,
                        regionEmpContactNum:this.marketDetailForm.phone,
                        regionEmpFax:this.marketDetailForm.fax,
                        stateFlag:1
                    },
                    success(res){
                        console.log(res)
                    }
                })
            }
        },
        mounted:function () {
            $.ajax({
                url:'/market/record/select',
                type:'post',
                success(res){
                    // console.log(res);
                    this.marketStateFlag = res.data.stateFlag;
                    // console.log(this.marketStateFlag);
                    if(this.marketStateFlag===1) {
                        this.ifSubmitMarketDetail = true;
                        // console.log(1)
                        console.log(this.ifSubmitMarketDetail)
                    }
                    else{
                        this.ifSubmitMarketDetail = false;
                    }
                },
                error(res){
                    console.log('error');
                }
            })

        }
    })
</script>
</html>