<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>provinceQueryUser</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="../js/jump.js"></script>
    <style>
        .el-dialog{
            margin-top: 7vh !important;
        }
        .el-select .el-input {
            width: 130px;
        }
        .input-with-select .el-input-group__prepend {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div id="provinceQueryUserApp">
    <el-container style="height: 100%;">
        <el-main class="content">
            <div class="contentDetail">
                <div style="float: left; margin-bottom: 15px; margin-right: 15px;">
                    <el-button type="primary" @click="createCity">创建市级用户</el-button>
                    <el-button type="primary" @click="createPoint">创建监测点用户</el-button>
                    <el-input placeholder="请输入用户名称" v-model="input" class="input-with-select"style="margin-top: 15px;">
                        <el-select v-model="select" slot="prepend" placeholder="请选择">
                            <el-option label="所有用户" value="1"></el-option>
                            <el-option label="市级用户" value="2"></el-option>
                            <el-option label="监测点用户" value="3"></el-option>
                        </el-select>
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </div>


                <el-table
                        :data="userData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                        stripe
                        style="width: 100%">
                    <el-table-column
                            prop="username"
                            label="用户名">
                    </el-table-column>
                    <el-table-column
                            prop="fullname"
                            label="用户全称">
                    </el-table-column>
                    <el-table-column
                            prop="userRole"
                            label="用户角色">
                    </el-table-column>
                    <el-table-column
                            prop="father"
                            label="上级部门">
                    </el-table-column>
                    <el-table-column
                            prop="status"
                            label="激活状态">
                    </el-table-column>
                    <el-table-column
                            prop="deleteFlag"
                            label="删除标记"
                            width="150px">
                        <template slot-scope="scope">
                            <el-switch
                                    v-model="scope.row.deleteFlag"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    :active-value="0"
                                    :inactive-value="1"
                                    @change="changeSwitch(scope.row)">
                            </el-switch>
                        </template>
                    </el-table-column>
                </el-table>

                <div class="block" style="text-align: center; margin-top: 15px">
                    <el-pagination
                            layout="prev, pager, next"
                            @current-change="pageChange"
                            :page-size="pageSize"
                            :total="userData.length"
                            background>
                    </el-pagination>
                </div>
            </div>
        </el-main>
        <el-footer class="footer">2019 &copy; 第二组织</el-footer>

    </el-container>
</div>
</body>
<script>
    var vue3 = new Vue({
        el:'#provinceQueryUserApp',
        data: {
            userData: [
                {
                  userId:1,
                  fullName:1,
                  userRole:1,
                  superior:1,
                  stateFlag:1,
                  deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
                {
                    userId:1,
                    fullName:1,
                    userRole:1,
                    superior:1,
                    stateFlag:1,
                    deleteFlag:true
                },
            ],
            input:'',
            select: '',
            pageSize:10,
            currentPage:1,
            total:1000

        },
        methods:{
            createCity() {
                this.$prompt('请输入您要创建的市级用户个数', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    //只能是非负整数
                    inputPattern: /^[1-9]*[1-9][0-9]*$/,
                    inputErrorMessage: '请输入正整数'
                }).then(({ value }) => {
                    $.ajax({
                        url:'/user/addUsers',
                        type:'post',
                        data:{
                            count:value,
                            prefix:'city',
                            label:'fullname',
                            startCount:0,
                        },
                        success(res){

                            vue3.getList();
                            console.log(res);
                        }
                    });
                    this.$message({
                    type: 'success',
                    message: '已创建' + value + '个市级用户'
                });
            }).catch(() => {
                    this.$message({
                    type: 'info',
                    message: '取消输入'
                });
            });
            },
            createPoint() {
                this.$prompt('请输入您要创建的监测点用户个数', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    //只能是非负整数
                    inputPattern: /^[1-9]*[1-9][0-9]*$/,
                    inputErrorMessage: '请输入正整数'
                }).then(({ value }) => {
                    $.ajax({
                        url:'/user/addUsers',
                        type:'post',
                        data:{
                            count:value,
                            prefix:'point',
                            label:'fullname',
                            startCount:0,

                        },
                        success(res){
                            vue3.getList();
                            console.log(res);
                        }
                    });
                    this.$message({
                        type: 'success',
                        message: '已创建' + value + '个监测点用户'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            changeSwitch (data) {
                this.$confirm('确定修改此用户的删除标记?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    if (data.deleteFlag==1)
                        $.ajax({
                            url:'/user/disable',
                            type:'post',
                            data:{
                                userId:data.id
                            },
                            success(res){
                                vue3.userData=res.data;
                                console.log(res.data);
                            }
                        });
                    else
                        $.ajax({
                        url:'/user/enable',
                        type:'post',
                        data:{
                            userId:data.id
                        },
                        success(res){
                            vue3.userData=res.data;
                            console.log(res.data);
                        }
                        });
                    this.$message({
                        type: 'success',
                        message: '操作成功!'
                    });
                }).catch(() => {
                    data.deleteFlag=!data.deleteFlag;
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });

                });
                console.log(data.deleteFlag);
                },
            getList(){
                $.ajax({
                    url:'/user/list',
                    type:'post',
                    success(res){
                        vue3.userData=res.data;
                        console.log(res.data);
                    }
                })
            },
            pageChange(page){
                this.currentPage = page;
            }
        },
        mounted:function () {
            this.getList()
        }
    })
</script>
</html>