<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>systemRightManage</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="../js/jump.js"></script>
    <style>
        .el-dialog{
            margin-top: 7vh !important;
        }
        .el-select .el-input {
            width: 130px;
        }
        .input-with-select .el-input-group__prepend {
            background-color: #fff;
        }
        .custom-tree-node {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            line-height: 20px;
            padding-right: 8px;
        }
    </style>
</head>
<body>
<div id="adminRightManageApp">
    <el-container style="height: 100%;">
        <el-main class="content">
            <div class="contentDetail">
                <div style="margin-bottom: 15px; margin-right: 15px; ">
                    <el-button type="success" @click="dialogFormVisibleCreateRight = true;">创建大类权限</el-button>
                </div>
                <el-dialog title="创建大类权限" :visible.sync="dialogFormVisibleCreateRight">
                    <el-form :model="newRight">
                        <el-form-item label="权限名称" :label-width="formLabelWidth">
                            <el-input v-model="newRight.label" placeholder="权限名称(纯英文大写，用下划线隔开单词)"></el-input>
                        </el-form-item>
                        <el-form-item label="权限描述" :label-width="formLabelWidth">
                            <el-input type="textarea"
                                      :rows="3"
                                      v-model="newRight.description"
                                      placeholder="权限描述">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="菜单名称" :label-width="formLabelWidth">
                            <el-input v-model="newRight.menuName" placeholder="目录项名称"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="closeDialog(newRight)">关 闭</el-button>
                        <el-button type="primary" @click="createRightBig(newRight)">创 建</el-button>
                    </div>
                </el-dialog>
                <div class="custom-tree-container">
                    <div class="block">
                        <!--<p>权限树</p>-->
                        <el-tree
                                :data="rightData"
                                node-key="id"
                                default-expand-all
                                :expand-on-click-node="false"
                                label="label"
                                style=".el-tree-node__content{height: 60px}">
                                <span class="custom-tree-node" slot-scope="{ node, data }">
                                <span>{{ data.label+"("+data.menuName+")"}}</span>
                                <span>
                                    <el-button
                                            v-if="node.level==1||node.level==2"
                                            type="text"
                                            size="mini"
                                            @click="() => append(data)">
                                        添加权限
                                    </el-button>
                                    <el-button
                                            type="text"
                                            size="mini"
                                            @click="() => view(node, data)">
                                        权限详情
                                    </el-button>
                                    <el-button
                                            type="text"
                                            size="mini"
                                            @click="() => remove(node, data)">
                                        删除权限
                                    </el-button>
                                </span>
                              </span>
                        </el-tree>
                        <el-dialog title="创建权限" :visible.sync="dialogFormVisibleCreate">
                            <el-form :model="newRight">
                                <el-form-item label="权限名称" :label-width="formLabelWidth">
                                    <el-input v-model="newRight.label" placeholder="权限名称(纯英文大写，用下划线隔开单词)"></el-input>
                                </el-form-item>
                                <el-form-item label="权限描述" :label-width="formLabelWidth">
                                    <el-input type="textarea"
                                              :rows="3"
                                              v-model="newRight.description"
                                              placeholder="权限描述">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="菜单名称" :label-width="formLabelWidth">
                                    <el-input v-model="newRight.menuName" placeholder="目录项名称"></el-input>
                                </el-form-item>
                                <el-form-item label="菜单路径" :label-width="formLabelWidth">
                                    <el-input v-model="newRight.menuPath" placeholder="页面跳转url"></el-input>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="closeDialog(newRight)">关 闭</el-button>
                                <el-button type="primary" @click="createRight(newRight)">创 建</el-button>
                            </div>
                        </el-dialog>
                        <el-dialog title="权限详情及修改" :visible.sync="dialogFormVisibleEdit">
                            <el-form :model="right">
                                <el-form-item label="权限名称" :label-width="formLabelWidth">
                                    <el-input v-model="right.label" placeholder="right.label"></el-input>
                                </el-form-item>
                                <el-form-item label="权限描述" :label-width="formLabelWidth">
                                    <el-input type="textarea"
                                              :rows="3"
                                              v-model="right.description"
                                              placeholder="right.description">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="菜单名称" :label-width="formLabelWidth">
                                    <el-input v-model="right.menuName" placeholder="right.menuName"></el-input>
                                </el-form-item>
                                <el-form-item label="菜单路径" :label-width="formLabelWidth">
                                    <el-input v-model="right.menuPath" placeholder="right.menuPath"></el-input>
                                </el-form-item>
                                <el-form-item label="权限状态" :label-width="formLabelWidth">
                                    <el-switch
                                            v-model="right.status"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949"
                                            :active-value="0"
                                            :inactive-value="1"
                                            @change="changeSwitch(right)"></el-switch>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisibleEdit = false">关 闭</el-button>
                                <el-button type="primary" @click="updateRight(right)">修 改</el-button>
                            </div>
                        </el-dialog>

                    </div>
                </div>
            </div>
        </el-main>
        <el-footer class="footer">2019 &copy; 第二组织</el-footer>

    </el-container>
</div>
</body>
<script>
    let id = 1;
    var vue = new Vue({
        el:'#adminRightManageApp',
        data: {
            dialogFormVisibleCreate: false,
            dialogFormVisibleCreateRight: false,
            dialogFormVisibleEdit: false,
            formLabelWidth:'120px',
            rightData: [],
            input:'',
            pageSize:10,
            currentPage:1,
            total:1000,
            tmpData:{},
            right:{},
            newRight:{
                id:0,
                label:'',
                description:'',
                menuName:'',
                menuPath:''
            },
            nullRight:{
                id:0,
                label:'',
                description:'',
                menuName:'',
                menuPath:''
            }
            },
        methods:{
            view(node, data){
                var tmp =JSON.stringify(data);
                vue.right=JSON.parse(tmp);
                vue.dialogFormVisibleEdit = true;
                console.log(node);
                console.log(data);
            },
            append(data) {
                vue.tmpData=data;
                console.log(vue.tmpData);
                vue.dialogFormVisibleCreate = true;
            },

            remove(node, data) {
                this.$confirm('此操作将永久删除该权限, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    const parent = node.parent;
                    const children = parent.data.children || parent.data;
                    const index = children.findIndex(d => d.id === data.id);
                    children.splice(index, 1);
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            closeDialog(newright){
                var tmp =JSON.stringify(vue.nullRight);
                vue.newRight=JSON.parse(tmp);
                vue.dialogFormVisibleCreate = false;
                vue.dialogFormVisibleCreateRight = false;
            },
            createRight(newRight){
                $.ajax({
                    url:'/right/add',
                    type:'post',
                    data:{
                        label:this.newRight.label,
                        description:this.newRight.description,
                        menuName:this.newRight.menuName,
                        menuPath:this.newRight.menuPath,
                        father:vue.tmpData.id,
                    },
                    success(res){
                        console.log(res);
                    }
                });
                this.dialogFormVisibleCreate = false;
                console.log(newRight);
                location.reload();
            },
            createRightBig(newRight){
                $.ajax({
                    url:'/right/add',
                    type:'post',
                    data:{
                        label:this.newRight.label,
                        description:this.newRight.description,
                        menuName:this.newRight.menuName,
                        menuPath:'',
                    },
                    success(res){
                        console.log(res);
                    }
                });
                this.dialogFormVisibleCreateRight = false;
                console.log(newRight);
                location.reload();
            },
            // deleteRights(){
            //     this.$confirm('确定修改这些用户的删除标记?', '提示', {
            //         confirmButtonText: '确定',
            //         cancelButtonText: '取消',
            //         type: 'warning'
            //     }).then(() => {
            //         this.rightData.splice(index,1);
            //         this.$message({
            //             type: 'success',
            //             message: '操作成功!'
            //         });
            //     }).catch(() => {
            //
            //         this.$message({
            //             type: 'info',
            //             message: '已取消操作'
            //         });
            //     });
            //     console.log(common.deleteFlag)
            // },

            updateRight(right){
                //插入ajax语句更新
                // var node = getNode(this.tmpId)=right;
                $.ajax({
                    url:'/right/modify',
                    type:'post',
                    data:{
                        id:this.right.id,
                        label:this.right.label,
                        description:this.right.description,
                        menuName:this.right.menuName,
                        menuPath:this.right.menuPath,
                    },
                    success(res){
                        //vue.append(newRight, newRight.father);
                        console.log(res);
                    }
                });
                this.dialogFormVisibleEdit = false;
                console.log(right);
                location.reload();

            },
            deleteRight(index, row) {
                this.$confirm('确定删除此用户?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.rightData.splice(index,1);
                    this.$message({
                        type: 'success',
                        message: '操作成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });

                });
                console.log(index, row);
            },
            pageChange(page){

                this.currentPage = page;
            },
            changeSwitch (data) {
                this.$confirm('确定修改此权限的状态?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '操作成功!'
                    });
                }).catch(() => {
                    data.status=1-data.status;
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });

                });
                console.log(data.status);
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            getRightList(){
                $.ajax({
                    url:'/right/list',
                    type:'post',
                    success(res){
                        vue.rightData=res.data;
                        console.log(res.data);
                    }
                })
            },

        },
        mounted:function () {
            this.getRightList()
        }
    })
</script>
</html>