<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>systemRoleManage</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="../js/jump.js"></script>
    <style>
        .el-dialog{
            margin-top: 7vh !important;
        }
        .el-select .el-input {
            width: 130px;
        }
        .input-with-select .el-input-group__prepend {
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div id="adminRoleManageApp">
    <el-container style="height: 100%;">
        <el-main class="content">
            <div class="contentDetail">
                <div style="float: left; margin-bottom: 15px; margin-right: 15px;">
                    <el-button type="success" @click="dialogFormVisibleCreate = true;">创建角色</el-button>
                    <!--<el-input placeholder="请输入角色名称" v-model="input" class="input-with-select" style="margin-top: 15px;">-->
                        <!--<el-button slot="append" icon="el-icon-search" @click="queryRole(input)"></el-button>-->
                    <!--</el-input>-->
                </div>
                <el-dialog title="创建角色" :visible.sync="dialogFormVisibleCreate" @close="closeDialog()">
                    <el-form :model="newRole">
                        <el-form-item label="角色名称" :label-width="formLabelWidth">
                            <el-input v-model="newRole.name" placeholder="请输入角色名称"></el-input>
                        </el-form-item>
                        <el-form-item label="角色描述" :label-width="formLabelWidth">
                            <el-input type="textarea"
                                      :rows="3"
                                      v-model="newRole.description"
                                      placeholder="请输入角色描述">
                            </el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="closeDialog(newRole)">关 闭</el-button>
                        <el-button type="primary" @click="createRole(newRole)">创 建</el-button>
                    </div>
                </el-dialog>
                <el-table
                        ref="multipleTable"
                        :data="roleData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                        stripe
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                    <el-table-column
                            prop="id"
                            label="角色id">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="角色名称">
                    </el-table-column>
                    <el-table-column
                            prop="description"
                            label="角色描述">

                    </el-table-column>
                    <el-table-column
                            prop="status"
                            label="状态标记"
                            width="150px">
                        <template slot-scope="scope">
                            <el-switch
                                    v-model="scope.row.status"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    :active-value="0"
                                    :inactive-value="1"
                                    @change="changeSwitch(scope.row)">
                            </el-switch>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.$index, scope.row)">查看并编辑</el-button>

                            <!--<el-button-->
                                    <!--size="mini"-->
                                    <!--type="danger"-->
                                    <!--@click="deleteRole(scope.$index, scope.row)">删除</el-button>-->
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog title="角色详情" :visible.sync="dialogFormVisibleEdit">
                    <el-form :model="role">
                        <el-form-item label="角色名称" :label-width="formLabelWidth">
                            <el-input v-model="role.name" placeholder="role.name"></el-input>
                        </el-form-item>
                        <el-form-item label="角色描述" :label-width="formLabelWidth">
                            <el-input type="textarea"
                                      :rows="3"
                                      v-model="role.description"
                                      placeholder="role.description">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="角色权限" :label-width="formLabelWidth">
                            <el-tree
                                    ref="tree"
                                    :data="rightData"
                                    show-checkbox
                                    node-key="id"
                                    default-expand-all
                                    :expand-on-click-node="false"
                                    :check-strictly="true"
                                    label="label">
                                <span class="custom-tree-node" slot-scope="{ node, data }">
                                    <span>{{ data.label+"("+data.menuName+")"}}</span>
                                </span>
                            </el-tree>

                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisibleEdit = false">关 闭</el-button>
                        <el-button type="primary" @click="updateRole(role)">保 存</el-button>
                    </div>
                </el-dialog>
                <div class="block" style="text-align: center; margin-top: 15px">
                    <el-pagination
                            layout="prev, pager, next"
                            @current-change="pageChange"
                            :page-size="pageSize"
                            :total="roleData.length"
                            background>
                    </el-pagination>
                </div>

            </div>
        </el-main>
        <el-footer class="footer">2019 &copy; 第二组织</el-footer>

    </el-container>
</div>
</body>
<script>
    var vue4 = new Vue({
        el:'#adminRoleManageApp',
        data: {
            dialogFormVisibleCreate: false,
            dialogFormVisibleEdit: false,
            formLabelWidth:'120px',
            rightData:[],
            roleData: [],
            roleRight:[],
            input:'',
            pageSize:10,
            currentPage:1,
            total:1000,
            role:{},
            newRole: {
                    name:'',
                    description:'',
                    status:0
            },
            nullRole: {
                name:'',
                description:'',
                status:0
            },
            tmpIndex:-1,
            newroleRight:[]
        },
        methods:{
            // queryRole(input) {
            //
            // },
            closeDialog(){
                var tmp =JSON.stringify(vue4.nullRole);
                vue4.newRole=JSON.parse(tmp);
                vue4.dialogFormVisibleCreate = false;
            },
            createRole(newRole){
                $.ajax({
                    url:'/role/add',
                    type:'post',
                    data:{
                        name:newRole.name,
                        description:newRole.description
                    },
                    success(res){
                        vue4.roleData.push(newRole);
                        vue4.getList();
                        console.log(res);
                    }
                });
                this.dialogFormVisibleCreate = false;
                console.log(newRole);
                location.reload();
            },
            handleEdit(index, row) {
                this.getRightList(index);
                console.log('roleId:'+this.roleData[index].id);

                this.tmpIndex=index;
                var tmp =JSON.stringify(this.roleData[index]);
                this.role=JSON.parse(tmp);
                this.dialogFormVisibleEdit = true;

                console.log(index, row);
            },
            updateRole(role){
                //插入ajax语句更新

                this.roleData[this.tmpIndex]=role;
                this.dialogFormVisibleEdit = false;
                $.ajax({
                    url:'/role/modify',
                    type:'post',
                    data:{
                        id:role.id,
                        name:role.name,
                        description:role.description
                    },
                    success(res){
                        console.log(res);
                    }
                });
                this.newroleRight =this.$refs.tree.getCheckedKeys();
                console.log('newroleRight'+this.newroleRight);
                $.ajax({
                    url:'/role/setRights',
                    type:'post',
                    data:{
                        roleId:role.id,
                        rights:vue4.newroleRight
                    },
                    success(res){
                        console.log(res);
                    }
                });
                console.log(role);
                location.reload();
            },
            deleteRole(index, row) {
                this.$confirm('确定删除此用户?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.roleData.splice(index,1);
                    this.$message({
                        type: 'success',
                        message: '操作成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });

                });
                console.log(index, row);
            },
            pageChange(page){

                this.currentPage = page;
            },
            changeSwitch (data) {
                this.$confirm('确定修改此用户的删除标记?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    if (data.status==1)
                        $.ajax({
                            url:'/role/disable',
                            type:'post',
                            data:{
                                roleId:data.id
                            },
                            success(res){
                                vue4.roleData=res.data;
                                console.log(res.data);
                            }
                        });
                    else
                        $.ajax({
                            url:'/role/enable',
                            type:'post',
                            data:{
                                roleId:data.id
                            },
                            success(res){
                                vue4.roleData=res.data;
                                console.log(res.data);
                            }
                        });
                    this.$message({
                        type: 'success',
                        message: '操作成功!'
                    });
                }).catch(() => {
                    data.status=1-data.status;
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });

                });
                console.log(data.status);
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            getRoleList(){
                $.ajax({
                    url:'/role/list',
                    type:'post',
                    success(res){
                        vue4.roleData=res.data;
                        console.log(res.data);
                    }
                })
            },
            getRightList(index){
                $.ajax({
                    url:'/right/list',
                    type:'post',
                    success(res){

                         vue4.rightData=res.data;
                         console.log(res.data);
                        vue4.$nextTick(function() {
                            vue4.getRoleRights(vue4.roleData[index].id);
                            console.log('roleRight:'+vue4.roleRight);
                        });
                    }
                })
            },
            getRoleRights(id){
                $.ajax({
                    url:'/role/rights',
                    type:'post',
                    data:{
                        roleId:id
                    },
                    success(res){
                        vue4.roleRight=res.data;
                        vue4.$refs.tree.setCheckedKeys(vue4.roleRight);
                        console.log(res.data);
                    }
                })
            },
            // getRoleByCondition(input){
            //     $.ajax({
            //         url:'/role/rights',
            //         type:'post',
            //         data:{
            //             roleId:id
            //         },
            //         success(res){
            //             vue4.roleRight=res.data;
            //             vue4.$refs.tree.setCheckedKeys(vue4.roleRight);
            //             console.log(res.data);
            //         }
            //     })
            // }
        },
        mounted:function () {
            this.getRoleList();
        }
    })
</script>
</html>