#app{
    width:100%;
    /*background-color: #adacac;*/
}

.formIndex{
    margin-top: 0;
    width: 100%;
    /*position: fixed;*/
    /*background-color: #7a9cc9;*/
}

.formIndex button{
    background-color: rgb(243, 242, 241);
    margin:10px;
    width: 40px;
    height:40px;
}


.table{
    width:100%;
}

.el-form{
    margin: 0 auto;
}

.table .tabletitle{
    font-size: 20px;
    text-align: center;
}

.table .tableheader .el-col{
    text-align: center;
    /*background-color: #ab880b;*/
}


.table el-form-item{
    width: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    type:flex;
    justify-content: center;
}

.tablecontent .el-col{
    text-align: center;
}

.table input{
    width: 90%;
}

#last{
    float: left;
    margin-left:10%;
    margin-bottom:10px;
}
#next{
    float: right;
    margin-right:10%;
    margin-bottom:10px;
}
