html,body,#app{
    height:100%;
}

.header{
    background-color: #36404A;
}

.wrapper{
    background-color: #EBEFF2;
}

.menu{
    background-color: #FFFFFF;
}

.content{
    background-color: #FFFFFF;
    margin-left:20px;
    margin-top: 20px;
}
